body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(90deg, #141e30, #243b55);
  color: #fff;
}

.container {
  text-align: center;
  background: linear-gradient(45deg, #1fa2ff, #12d8fa, #a6ffcb);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  margin: 20px;
}

h1 {
  margin-bottom: 10px;
  font-size: 26px;
}

.msg {
  font-size: 18px;
  margin-top: 10px;
}

.input-container {
  margin-top: 20px;
}

input {
  width: calc(100% - 20px);
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  width: 100%;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #1fa2ff;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0f7ee3;
  cursor: pointer;
}

.rules {
  margin-top: 20px;
  text-align: left;
}

#play {
  display: none;
}